<h1>New Order</h1>

<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <div>
    <%= f.label :shipping_address_id, "Shipping Address" %>
    <%= f.collection_select :shipping_address_id, current_user.shipping_addresses, :id, :address_line1 %>
  </div>

  <div>
    <%= f.label :payment_method, "Payment Method" %>
    <%= f.select :payment_method, ["Credit Card", "PayPal", "Cash on Delivery"] %>
  </div>

  <div>
    <%= f.submit "Place Order" %>
  </div>
<% end %>